
<form action="/location" method="POST">

<h3>Tell us your name</h3>
<textarea name='name'></textarea>



<h3>What is your gender</h3>
<input type="radio" id="Male" name="Gender" value="Male">
<label for="Male"> Male</label><br>
<input type="radio" id="Female" name="Gender" value="Female">
<label for="Female"> Female</label><br>
<input type="radio" id="NOTA" name="Gender" value="NOTA">
<label for="NOTA"> NOTA</label><br>
  


<h3>What is your location</h3>
<textarea name='location'></textarea>


<h3>IS this your</h3>
<input type="radio" id="Home" name="Loc_type" value="Home">
<label for="Home"> Home</label><br>
<input type="radio" id="Work" name="Loc_type" value="Work">
<label for="Work"> Work</label><br>
<input type="radio" id="Other" name="Loc_type" value="Other">
<label for="Other"> Other</label><br>
  



<h3>What would you like to try the most from below options</h3>
<input type="checkbox" id="arabic" name="arabic" value="arabic">
<label for="arabic"> arabic</label><br>
<input type="checkbox" id="breakfast" name="breakfast" value="breakfast">
<label for="breakfast"> breakfast</label>
<input type="checkbox" id="burgers" name="burgers" value="burgers">
<label for="burgers"> burgers</label>
<input type="checkbox" id="desserts" name="desserts" value="desserts">
<label for="desserts"> desserts</label>
<input type="checkbox" id="free delivery" name="free delivery" value="free delivery">
<label for="free delivery"> free delivery</label>
<input type="checkbox" id="grills" name="grills" value="grills">
<label for="grills"> grills</label>
<input type="checkbox" id="lebanese" name="lebanese" value="lebanese">
<label for="lebanese"> lebanese</label>
<input type="checkbox" id="salads" name="salads" value="salads">
<label for="salads"> salads</label>
<input type="checkbox" id="sandwiches" name="sandwiches" value="sandwiches">
<label for="sandwiches"> sandwiches</label>
<input type="checkbox" id="shawarma" name="shawarma" value="shawarma">
<label for="shawarma"> shawarma</label>
<input type="checkbox" id="cakes" name="cakes" value="cakes">
<label for="cakes"> cakes</label>
<input type="checkbox" id="crepes" name="crepes" value="crepes">
<label for="crepes"> crepes</label>
<input type="checkbox" id="italian" name="italian" value="italian">
<label for="italian"> italian</label>
<input type="checkbox" id="pasta" name="pasta" value="pasta">
<label for="pasta"> pasta</label>
<input type="checkbox" id="pizzas" name="pizzas" value="pizzas">
<label for="pizzas"> pizzas</label>
<input type="checkbox" id="soups" name="soups" value="soups">
<label for="soups"> soups</label>
<input type="checkbox" id="indian" name="indian" value="indian">
<label for="indian"> indian</label>
<input type="checkbox" id="fries" name="fries" value="fries">
<label for="fries"> fries</label>
<input type="checkbox" id="mexican" name="mexican" value="mexican">
<label for="mexican"> mexican</label>
<input type="checkbox" id="american" name="american" value="american">
<label for="american"> american</label>
<input type="checkbox" id="milkshakes" name="milkshakes" value="milkshakes">
<label for="milkshakes"> milkshakes</label>
<input type="checkbox" id="asian" name="asian" value="asian">
<label for="asian"> asian</label>
<input type="checkbox" id="healthy food" name="healthy food" value="healthy food">
<label for="healthy food"> healthy food</label>
<input type="checkbox" id="japanese" name="japanese" value="japanese">
<label for="japanese"> japanese</label>
<input type="checkbox" id="sushi" name="sushi" value="sushi">
<label for="sushi"> sushi</label>
<input type="checkbox" id="mojitos" name="mojitos" value="mojitos">
<label for="mojitos"> mojitos</label>
<input type="checkbox" id="mandazi" name="mandazi" value="mandazi">
<label for="mandazi"> mandazi</label>
<input type="checkbox" id="omani" name="omani" value="omani">
<label for="omani"> omani</label>
<input type="checkbox" id="manakeesh" name="manakeesh" value="manakeesh">
<label for="manakeesh"> manakeesh</label>
<input type="checkbox" id="kids meal" name="kids meal" value="kids meal">
<label for="kids meal"> kids meal</label>
<input type="checkbox" id="donuts" name="donuts" value="donuts">
<label for="donuts"> donuts</label>
<input type="checkbox" id="fresh juices" name="fresh juices" value="fresh juices">
<label for="fresh juices"> fresh juices</label>
<input type="checkbox" id="ice creams" name="ice creams" value="ice creams">
<label for="ice creams"> ice creams</label>
<input type="checkbox" id="pancakes" name="pancakes" value="pancakes">
<label for="pancakes"> pancakes</label>
<input type="checkbox" id="waffles" name="waffles" value="waffles">
<label for="waffles"> waffles</label>
<input type="checkbox" id="hot dogs" name="hot dogs" value="hot dogs">
<label for="hot dogs"> hot dogs</label>
<input type="checkbox" id="dimsum" name="dimsum" value="dimsum">
<label for="dimsum"> dimsum</label>
<input type="checkbox" id="rice" name="rice" value="rice">
<label for="rice"> rice</label>
<input type="checkbox" id="sweets" name="sweets" value="sweets">
<label for="sweets"> sweets</label>
<input type="checkbox" id="steaks" name="steaks" value="steaks">
<label for="steaks"> steaks</label>
<input type="checkbox" id="pizza" name="pizza" value="pizza">
<label for="pizza"> pizza</label>
<input type="checkbox" id="mishkak" name="mishkak" value="mishkak">
<label for="mishkak"> mishkak</label>
<input type="checkbox" id="biryani" name="biryani" value="biryani">
<label for="biryani"> biryani</label>
<input type="checkbox" id="thali" name="thali" value="thali">
<label for="thali"> thali</label>
<input type="checkbox" id="vegetarian" name="vegetarian" value="vegetarian">
<label for="vegetarian"> vegetarian</label>
<input type="checkbox" id="pastry" name="pastry" value="pastry">
<label for="pastry"> pastry</label>
<input type="checkbox" id="seafood" name="seafood" value="seafood">
<label for="seafood"> seafood</label>
<input type="checkbox" id="chinese" name="chinese" value="chinese">
<label for="chinese"> chinese</label>
<input type="checkbox" id="thai" name="thai" value="thai">
<label for="thai"> thai</label>
<input type="checkbox" id="coffee" name="coffee" value="coffee">
<label for="coffee"> coffee</label>
<input type="checkbox" id="organic" name="organic" value="organic">
<label for="organic"> organic</label>
<input type="checkbox" id="smoothies" name="smoothies" value="smoothies">
<label for="smoothies"> smoothies</label>
<input type="checkbox" id="karak" name="karak" value="karak">
<label for="karak"> karak</label>
<input type="checkbox" id="rolls" name="rolls" value="rolls">
<label for="rolls"> rolls</label>
<input type="checkbox" id="hot chocolate" name="hot chocolate" value="hot chocolate">
<label for="hot chocolate"> hot chocolate</label>
<input type="checkbox" id="pastas" name="pastas" value="pastas">
<label for="pastas"> pastas</label>
<input type="checkbox" id="combos" name="combos" value="combos">
<label for="combos"> combos</label>
<input type="checkbox" id="bagels" name="bagels" value="bagels">
<label for="bagels"> bagels</label>
<input type="checkbox" id="churros" name="churros" value="churros">
<label for="churros"> churros</label>
<input type="checkbox" id="shuwa" name="shuwa" value="shuwa">
<label for="shuwa"> shuwa</label>
<input type="checkbox" id="frozen yoghurt" name="frozen yoghurt" value="frozen yoghurt">
<label for="frozen yoghurt"> frozen yoghurt</label>
<input type="checkbox" id="kushari" name="kushari" value="kushari">
<label for="kushari"> kushari</label>
<input type="checkbox" id="spanish latte" name="spanish latte" value="spanish latte">
<label for="spanish latte"> spanish latte</label>
<input type="checkbox" id="family meal" name="family meal" value="family meal">
<label for="family meal"> family meal</label>
<input type="checkbox" id="kebabs" name="kebabs" value="kebabs">
<label for="kebabs"> kebabs</label>
<input type="checkbox" id="cafe" name="cafe" value="cafe">
<label for="cafe"> cafe</label>
<input type="checkbox" id="fatayers" name="fatayers" value="fatayers">
<label for="fatayers"> fatayers</label><br>

  <input type="submit" value = "submit">
  
</form>

